<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuegongbu.mapper.CourseScheduleMapper">
    
    <resultMap id="BaseResultMap" type="com.xuegongbu.domain.CourseSchedule">
        <id column="id" property="id"/>
        <result column="course_name" property="courseName"/>
        <result column="teacher_id" property="teacherId"/>
        <result column="class_name" property="className"/>
        <result column="weekday" property="weekday"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="classroom" property="classroom"/>
        <result column="semester" property="semester"/>
        <result column="school_year" property="schoolYear"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, course_name, teacher_id, class_name, weekday, start_time, end_time, 
        classroom, semester, school_year, create_time, update_time
    </sql>

    <select id="findById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> 
        FROM tb_course_schedule 
        WHERE id = #{id}
    </select>

    <select id="findList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> 
        FROM tb_course_schedule
        <where>
            <if test="courseName != null and courseName != ''">
                AND course_name LIKE CONCAT('%', #{courseName}, '%')
            </if>
            <if test="teacherId != null">
                AND teacher_id = #{teacherId}
            </if>
            <if test="className != null and className != ''">
                AND class_name LIKE CONCAT('%', #{className}, '%')
            </if>
            <if test="weekday != null">
                AND weekday = #{weekday}
            </if>
            <if test="semester != null and semester != ''">
                AND semester = #{semester}
            </if>
            <if test="schoolYear != null and schoolYear != ''">
                AND school_year = #{schoolYear}
            </if>
        </where>
        ORDER BY weekday, start_time
        <if test="limit != null and offset != null">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(*) 
        FROM tb_course_schedule
        <where>
            <if test="courseName != null and courseName != ''">
                AND course_name LIKE CONCAT('%', #{courseName}, '%')
            </if>
            <if test="teacherId != null">
                AND teacher_id = #{teacherId}
            </if>
            <if test="className != null and className != ''">
                AND class_name LIKE CONCAT('%', #{className}, '%')
            </if>
            <if test="weekday != null">
                AND weekday = #{weekday}
            </if>
            <if test="semester != null and semester != ''">
                AND semester = #{semester}
            </if>
            <if test="schoolYear != null and schoolYear != ''">
                AND school_year = #{schoolYear}
            </if>
        </where>
    </select>

    <select id="findByTeacherId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> 
        FROM tb_course_schedule 
        WHERE teacher_id = #{teacherId}
        ORDER BY weekday, start_time
    </select>

    <select id="findByClassName" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> 
        FROM tb_course_schedule 
        WHERE class_name = #{className}
        ORDER BY weekday, start_time
    </select>

    <insert id="insert" parameterType="com.xuegongbu.domain.CourseSchedule" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_course_schedule (course_name, teacher_id, class_name, weekday, start_time, end_time, classroom, semester, school_year)
        VALUES (#{courseName}, #{teacherId}, #{className}, #{weekday}, #{startTime}, #{endTime}, #{classroom}, #{semester}, #{schoolYear})
    </insert>

    <update id="update" parameterType="com.xuegongbu.domain.CourseSchedule">
        UPDATE tb_course_schedule
        <set>
            <if test="courseName != null">course_name = #{courseName},</if>
            <if test="teacherId != null">teacher_id = #{teacherId},</if>
            <if test="className != null">class_name = #{className},</if>
            <if test="weekday != null">weekday = #{weekday},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="classroom != null">classroom = #{classroom},</if>
            <if test="semester != null">semester = #{semester},</if>
            <if test="schoolYear != null">school_year = #{schoolYear},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM tb_course_schedule WHERE id = #{id}
    </delete>

</mapper>
